<html>
    <head>
        <title>Kassavirta</title>
    </head>
    <body>
        <h1>Kassavirta</h1>
        <form method="post">
            {% csrf_token %}    
            {{form}}
            <input type="submit" value="Submit">
        <table>
            <tr>
              <th>Tulot</th>
              <th>Menot</th>
              <th>Yhteensä</th>
            </tr>
            <tr>
                <td>{{incomes_sum}}</td>
                <td>{{expenses_sum}}</td>
                <td>{{sum}}</td>
            </tr>
            <div class="fixed">
            <a href="{% url 'paavalikko' %}">
            <button type="button" class="button">Takaisin</button>
        </div>
        
        <script src="funktiot.js"></script> 
    </body>
</html>