<html>
    <head>
        <title>paavalikko</title>
           
    </head>
    <body>
         <button type="button" onclick="navigateToPage('sivu.html')">Tulot</button>
         <button type="button" onclick="navigateToPage('sivu.html')">Menot</button>
         <button type="button" onclick="navigateToPage('sijoitukset.html')">Sijoitukset</button>
         <button type="button" onclick="navigateToPage('kassavirta.html')">Kassavirta</button>
         <p id="demo"></p>

    
    </body>
    <script src="funktiot.js">
    </script>
</html>