<html>
    <head>
        <title>paavalikko</title>
    </head>
    <body>
        <a href="{% url 'menot' %}">
        <button type="button" class="button">Menot</button>
        <a href="{% url 'tulot' %}">
        <button type="button" class="button">Tulot</button>
        <a href="{% url 'sijoitukset' %}">
        <button type="button" class="button">Sijoitukset</button>
        <a href="{% url 'kassavirta' %}">
        <button type="button" class="button">Kassavirta</button>
    </body>
    
</html>