<html>
    <head>
        <title>Sijoitukset</title>
    </head>
    <body>
        <h1>Tulot</h1>
        <table>
            <tr>
              <th>Ajankohta</th>
              <th>Sijoitukset</th>
            </tr>
            {% for investment in investments %}
            <tr>
                <td>{{investment.date}}</td>
                <td>{{investment.amount}}</td>
            </tr>
            {% endfor %}
            <div class="fixed">
        <button class="button" onclick="navigateToPage('paavalikko.html')"><span>Takaisin</span></button>
        </div>
        
        <script src="funktiot.js"></script> 
    </body>
</html>