<html>
    <head>
        <title>Sijoitukset</title>
    </head>
    <body>
        <h1>Sijoitukset</h1>
        <form method="post">
            {% csrf_token %}    
            {{form}}
            <input type="submit" value="Submit">
        <table>
            <tr>
              <th>Ajankohta</th>
              <th>Sijoitukset</th>
            </tr>
            {% for investment in investments %}
            <tr>
                <td>{{investment.date}}</td>
                <td>{{investment.amount}}</td>
            </tr>
            {% endfor %}
        <div class="fixed">
            <a href="{% url 'paavalikko' %}" class="btn btn-1">
            <button type="button" class="btn btn-2">Takaisin</button>
        </div>
        
        <script src="funktiot.js"></script> 
    </body>
</html>