<html>
    <head>
        <title>tulot</title>
    </head>
    <body>
        <h1> Tulot </h1>
        <div class="incomes">
            <table>
                <th>Ajankohta</th>
                <th>Menot</th>
            {% for income in incomes %}
            <div class="expense">
                <tr>
                <td>{{income.date}}</td>
                <td>{{income.amount}}</td>
                </tr>
                {% endfor%}
                <tr>
                <td>Yhteensä</td>
                <td>{{sum}}</td>
                </tr>
            </div>
            </table>
        </div>
    </body>
    <script src="funktiot.js">
    </script>

</html>