<html>
    <head>
        <title>tulot</title>
    </head>
    <body>
        <h1> Tulot </h1>
        <form method="post">
            {% csrf_token %}    
            {{form}}
            <input type="submit" value="Submit">
        <div class="incomes">
            <table>
                <th>Ajankohta</th>
                <th>Menot</th>
            {% for expense in expenses %}
            <div class="income">
                <tr>
                <td>{{income.date}}</td>
                <td>{{income.receiver}}</td>
                <td>{{income.amount}}</td>
                </tr>
                {% endfor%}
                <tr>
                <td>Yhteensä</td>
                <td>{{sum}}</td>
                </tr>
            </div>
            </table>
        </div>
    </body>
    <a href="{% url 'paavalikko' %}">
    <button type="button" class="button">Takaisin</button>

</html>