<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Kassavirta</title>
    </head>
    <body>
        <div class="jumbotron text">
            <h1>Kassavirta</h1>
        </div>
        <form method="post">
            {% csrf_token %}    
            {{form}}
            <input type="submit" value="Submit">
        <table>
            <tr>
              <th>Tulot</th>
              <th>Menot</th>
              <th>Yhteensä</th>
            </tr>
            <tr>
                <td>{{incomes_sum}}</td>
                <td>{{expenses_sum}}</td>
                <td>{{sum}}</td>
            </tr>
            <div class="fixed">
            <a href="{% url 'paavalikko' %}">
            <button type="button" class="button">Takaisin</button>
        </div>
        
        <script src="funktiot.js"></script> 
    </body>
</html>