<html>
    <head>
        <title>paavalikko</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <a href="{% url 'menot' %}">
        <button type="button" class="button"><span>Menot</span></button>
        <a href="{% url 'tulot' %}">
        <button type="button" class="button"><span>Tulot</span></button>
        <a href="{% url 'sijoitukset' %}">
        <button type="button" class="button"><span>Sijoitukset</span></button>
        <a href="{% url 'kassavirta' %}">
        <button type="button" class="button"><span>Kassavirta</span></button>
        </div>

        <div class="fixed">
            <a href="{% url 'talous' %}">
            <button type="button" class="button"><span>Takaisin</span></button>
        </div>
        
    </body>
    
</html>